@model GlobalSolution.Models.HistoricoModel

<h1>Criar Novo Histórico</h1>

<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ArmazenamentoDados" class="control-label"></label>
                <input asp-for="ArmazenamentoDados" class="form-control" />
                <span asp-validation-for="ArmazenamentoDados" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoDados" class="control-label"></label>
                <input asp-for="TipoDados" class="form-control" />
                <span asp-validation-for="TipoDados" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AnoDados" class="control-label"></label>
                <input asp-for="AnoDados" class="form-control" />
                <span asp-validation-for="AnoDados" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Criar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar para Lista</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
