@model GlobalSolution.Models.HistoricoModel

<h1>Detalhes do Histórico</h1>

<hr />

<div>
    <dl class="row">
        <dt class="col-sm-2">
            Armazenamento de Dados
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ArmazenamentoDados)
        </dd>

        <dt class="col-sm-2">
            Tipo de Dados
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TipoDados)
        </dd>

        <dt class="col-sm-2">
            Ano dos Dados
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AnoDados)
        </dd>
    </dl>
</div>

<div>
    <a asp-action="Index">Voltar para Lista</a>
</div>
